body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./image/hollowed-boxes.svg);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
